#chatIconContainer{
	position: fixed;
	bottom: 20px;
	right: 20px;

	width: 60px;
	height: 60px;
	background-color: #00877C;

	border-radius: 100%;
	background-image: url(https://d7pkvxpsevxsc.cloudfront.net/bot-icons/icon_5.svg?v=1585860403114);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;

	cursor: pointer;
}
