*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	font-family: 'Ubuntu', sans-serif;
}

h4, p{
	margin: 0;
}

a{
	color: #ffffff;
	text-decoration: none;
}

.App-header {
	padding: 16px;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.header{
	display: flex;
	align-items: center;
}

.header img{
	display: inline-block;
	margin-right: 8px;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.margin_btn_8{
	margin-bottom: 8px;
}

.margin_btn_16{
	margin-bottom: 16px;
}

.margin_left_16{
	margin-left: 16px;
}

.textColorWhite{
	color: #ffffff;
}

.padding_left_8{
	padding-left: 8px;
}

.positionRelative{
	position: relative;
}


.margin_0{
	margin: 0;
}

.close_icon{
	position: absolute;
	width: 48px;
	height: 48px;

	top: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.visibility_hidden{
	visibility: hidden;
}

.padding_8{
	padding: 8px;
}

.maxWidth100{
	max-width: 100px;
}

.justifyContentSpaceBetween{
	justify-content: space-between;
}

.padding_right_8{
	padding-right: 8px;
}
